<!--<a asp-controller="Utilizador" asp-action="getUsers">Ver utilizadores</a>-->
<a asp-controller="Utilizador" asp-action="getHistorico">Ver receitas</a>
<a asp-controller="Utilizador" asp-action="getFavoritos">Ver receitas</a>
<a asp-controller="Receitas" asp-action="getReceitas">Lista receitas</a>