@model cookboard.Models.Utilizador
@{
    ViewData["Title"] = "RegisterUtilizador";
}

<h1>Registar Utilizador</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success">@TempData["Success"]  <a asp-action="utilizadorLogin">Click here to login</a></p>
        }
        @if (TempData["Fail"] != null)
        {
            <p class="alert alert-danger">@TempData["Fail"]</p>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="registar-clean" style="background-size:cover;">
            <form method="post">
                <div class="illustration"><img src="~/img/logo.png" style="height:100px;"></div>
                <div class="form-group"><input class="form-control" type="text" name="Username" placeholder="Username" required> </div>
                <div class="form-group"><input class="form-control" type="text" name="Password" placeholder="Password" required></div>
                <div class="form-group"><input class="form-control" type="text" name="Email" placeholder="Email" required></div>
                <div class="form-group"><input class="form-control" type="text" name="Nome" placeholder="Nome" required></div>
                <div class="form-group"><input class="form-control" type="text" name="DataNascimento" placeholder="DataNascimento" required></div>

                <div class="col-md-10">
                    Aluno
                    <input id="Tipo" name="Tipo" value="Aluno" type="radio">
                    <hr style="border-color: #ffffff;">
                    Professor
                    <input id="Tipo" name="Tipo" value="Professor" type="radio">
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(146,141,142);">Register</button></div>
            </form>
        </div>
    </div>
</div>

