@model cookboard.Models.Utilizador
@{
    ViewData["Title"] = "utilizadorLogin";
}

<div class="row">
    <div class="col-12">
        @if (TempData["UserLoginFailed"] != null)
        {
            <p class="alert alert-danger">@TempData["UserLoginFailed"]</p>
        }

            <div class="login-clean" style="background-size:cover;">
                <form method="post">
                    <div class="illustration"><img src="~/img/logo.png" style="height:183px;"></div>
                    <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username" required></div>
                    <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" required></div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(146,141,142);">Log in</button></div>
                </form>
            </div>

<!--        <form asp-action="UtilizadorLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default btn-success" />
            </div>
        </form> -->
    </div>
</div>