@model cookboard.Models.Utilizador
@{
    ViewBag.Title = "criaEmenta";
    Layout = "~/Views/Shared/_LayoutProfessor.cshtml";

}
<h1> Criar Ementa Semanal</h1>

<div class="row">
    <div class="col-12">
        <div class="register-photo">
            <div class="registar-clean" style="background-size:cover;">
                <form method="post">
                    <h1 class="text-center">Ementa Semanal</h1>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Segunda-Feira</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Selecionar Receita</label>
                        </div>
                    </div>
                    <p>


                    </p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Terça-Feira  </span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Selecionar Receita</label>
                        </div>
                    </div>
                    <p>


                    </p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Quarta-Feira </span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Selecionar Receita</label>
                        </div>
                    </div>
                    <p>


                    </p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Quinta-Feira </span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Selecionar Receita</label>
                        </div>
                    </div>
                    <p>


                    </p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Sexta-Feira  </span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Selecionar Receita</label>
                        </div>
                    </div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(146,141,142);">Guardar</button></div>
                </form>
            </div>
        </div>
    </div>
</div> 