@model cookboard.Models.Utilizador
@{
    ViewData["Title"] = "registaReceita";
}
<div class="row">
    <div class="col-12">
        <div class="register-photo">
            <div class="registar-clean" style="background-size:cover;">
                <form method="post">
                    <h1 class="text-center">Registar Receita</h1>
                    <div class="form-group"><input class="form-control" type="text" name="nome" placeholder="Nome" required></div>
                    <div class="form-group"><input class="form-control" type="time" name="tempo" placeholder="Tempo de Confeção" required></div>
                    <div class="form-group"><input class="form-control" type="text" name="porcao" placeholder="Porções" required></div>
                    <div class="form-group"><input class="form-control" type="text" name="dificuldade" placeholder="Dificuldade" required></div>
                    <div class="form-group"><input class="form-control" type="text" name="info" placeholder="Informação Nutricional" required></div>
                    <div class="form-group"><input class="form-control" type="text" name="descricao" placeholder="Descrição" required></div>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Escolher Ficheiro</label>
                        </div>
                    </div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color:rgb(146,141,142);">Guardar</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
